:root {
    --cor-primaria: #7BBCB7;
    --cor-secundaria: #FFFFFF;
    --cor-hover: #E5C97A;
}

body {
    font-family: 'Poppins', sans-serif;
    /* Para fixar o footer no final da página */
    display: flex;
    flex-direction: column;
}

main {
    /* flex: 1 1 0; */
    height: 100%;
}


/* Estilos do text-reveal (podem ser sobrescritos (mudar de qual direção vem) nos arquivos.css de cada página) */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}


.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
}


/* Estilos do menu */
.navbar {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 1em;
}


.container_principal_menu {
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}


.container_informacoes_menu {
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: row;
}


.informacoes_menu_container {
    display: block;
    margin: 2em 8em 0 2em;
}


.texto_logo_principal {
    font-size: 3em;   
}


.sub_texto_logo {
    font-size: 1.5em;
    color: var(--cor-hover);
}


.whatsapp_container {
    display: inline-flex;
    align-items: center;
}


.link_whatsapp {
    text-decoration: none;
    font-size: 1.3em;
    color: var(--cor-secundaria);
    transition: all .3s ease-in-out;
}


.link_whatsapp:hover {
    color: #1C8653;
}


.link {
    text-decoration: none;
    font-size: 1.1em;
    color: var(--cor-secundaria);
    transition: all .3s ease-in-out;
}


/* Estilos menu hamburger (telas menores) */
.hamburguer {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid var(--cor-secundaria);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 25px;
}


.hamburguer::before,
.hamburguer::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: var(--cor-secundaria);
    margin-top: 5px;
}

/* Fim estilos menu hamburguer */


.container_ul_menu {
    margin: 1em 0 2em 0;
}


.ul_menu {
    display: inline-flex;
    text-align: center;
    list-style: none;
    float: right;
    margin-right: 25em;
}


.li_menu {
    margin: 0 1em;
}


.link:hover {
    color: var(--cor-hover);
}



.titulo {
    text-align: center;
    font-weight: 400;
    color: var(--cor-primaria);
    margin: 0.5em 0;
}




/* Estilos Footer */
footer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 100%;
    padding: 2.5em 0;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    text-align: center;
    font-size: 1.1em;
}


.contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}


.email {
    display: block;
}


.instagram {
    text-decoration: none;
}


.instagram span {
    color: var(--cor-secundaria);
    padding-left: 5px;
}


.instagram:hover span {
    text-decoration: underline;
}


.email svg, .instagram svg {
    vertical-align: middle;
}


.container_endereco{
    display: flex;
    align-items: center;
    margin-left: 4em;
}


.endereco{
    diplay: flex;
    flex-direction: column;
    max-width: 400px;
    margin-right: 1em;
}


.container_mapa {
    display: flex;
    align-items: center;
}


.mapa {
    width: 350px;
    height: 150px;
}


/* Responsividade dos estilos globais */

@media screen and (max-width: 400px) {
    .endereco {
        max-width: 350px;
        margin-right: 0;
    }

    
    .mapa {
        width: 300px;
    }
}



@media screen and (max-width: 750px) {
    .container_principal_menu {
        flex-direction: column;
        align-items: center;
    }

    .container_informacoes_menu {
        flex-direction: column;
        font-size: 12px;
        align-items: center;
    }


    .container_logo {
        width: fit-content;
        margin-right: 2.3em;
    }


    .informacoes_menu_container {
        width: fit-content;
        text-align: center;
        margin: 1em 0 0 0;
    }


    .whatsapp_container {
        flex-direction: row;
        margin: 1em 0 0 0;
    } 

    .hamburguer {
        display: block;
        z-index: 2;
    }

    .ul_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--cor-primaria);
        clip-path: circle(100px at 90% -25%);
        transition: 1s ease-out;
        z-index: 1;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        //pointer-events: none;   /* Evitar que o usuário clique em algo que não está aparecendo na tela */
    }

    .navbar.active .ul_menu {
        clip-path: circle(1500px at 90% -25%);
        //pointer-events: all;
    }




}





@media screen and (min-width: 750px) and (max-width: 1430px) {
    .navbar {
        flex-direction: column;
    }


    .container_principal_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }


    .container_informacoes_menu {
        flex-direction: column;
        font-size: 12px;
        align-items: center;
    }
    
    
    .informacoes_menu_container {
        margin: 1em 0 0 0;
    }


    .sub_texto_logo {
        width: 500px;
    }


    .whatsapp_container {
        margin: 1em 0;
    }


    .container_ul_menu {
        display: flex;
        justify-content: center;
        margin: 1em 0 0 0;
    }


    .ul_menu {
        margin: 0;
        text-align: center;
    }

}



@media screen and (max-width: 1300px) {
    footer {
        display: flex;
        flex-direction: column;
        padding: 3em 0;
    }


    .container_endereco {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2em;
        margin-left: 0;
    }


    .endereco {
        margin-right: 0;
    }
}